.homepage {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 100vh;
}

.sidenav {
    grid-area: 1 / 1 / 6 / 2;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: calc((100% / 11) * 1);
    height: 100vh; /* Full height of the viewport */
    z-index: 1000; /* Ensure it stays on top */
}

/* Adjust the main content to leave space for the fixed sidebar */
.body {
    grid-area: 1 / 2 / 6 / 12;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 80px auto auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.header {
    grid-area: 1 / 1 / 2 / 7;
    background-color: #27AE60;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
}

.main {
    grid-area: 2 / 1 / 6 / 7;
}